body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marc-image{
position: relative;
top: 20px;
left: 140px;
border-radius: 50%;
}

.marc-title-card-description{
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-page-card{
margin-left: auto;
    margin-right: auto;
border: 10px solid  darkblue;
border-radius: 30px;
width:  max-content;
height: max-content;

}

.marc-title-card-name{
color:darkblue;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.marc-title-card-job{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(19, 13, 6);
font-weight: bold;
}
.project-weed-store{
border: 10px solid  darkblue;
padding: 8px;
height: 500px;
margin-left: auto;
margin-right: auto;
margin-top: auto;
background-color: rgb(107, 224, 123);
background-color:mediumaquamarine ;

}



.project-images{
border-radius: 30px;
position: relative;
border: 7px solid  darkblue;

}

.project-images:hover{
 transform: scale(1.3);
}

.resume-image{
border-radius: 30px;
position: relative;
border: 7px solid  darkblue;
}

.project-page-container{
margin-left: auto;
margin-right: auto;
}

.coding-projects{
margin-left: auto;
margin-right: auto;
padding: 8px;
}


.coding-project-description{
font-size: smaller;
font-weight: bold;
}

#bottom-page-info{
background-color: black;
height: 250px;
color: white;
}

.why-us{
color: darkblue;
}

.projects-link:hover{
 transform: scale(1.3);
}

/* ____________________start of art page______________________ */

#drawing-1:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}

#drawing-2:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-3:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-4:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-5:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-6:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-7:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-8:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-9:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}

#drawing-10:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-11:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}
#drawing-12:hover{
position: relative;
transform: scale(1.45);
z-index: 1;
}

.lil-dicky{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.black-cat{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.white-cat{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.will-smith{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.cheetah{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skip{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.daisy{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.black-dog{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kobe{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-us{
font-style: italic;
}

.bear{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.baboon{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nate{
position: relative;
width: 375px;
left: 60px;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
padding: 8px;
top: 10px;
height: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.art-title{

border-radius: 30px;
color: darkblue;
background-color: darkgray;
width: 400px;
height: 45px;
margin-left: auto;
    margin-right: auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ____________________end of art page______________________ */

#tic-tac-toe{
position: relative;
border: 10px solid  darkblue;
width: 300px;
height: 300px;
}

.winner{
margin-left: auto;
margin-right: auto;
margin-top: auto;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
width: 300px;

}

.whos-turn{
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.directions{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.directions-description{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-directions2{
text-align: center;
}

.link-to-resume{
position: relative;
color: white;

}

/* __________EYE SPY PAGE________________________________________ */

#open-modal-button{
position: relative;
z-index: 1;
}

.buttons-to-click{
max-height: 570px;
}



.my-bottle{
position: static;
}

 .bottle{
position: relative;
right: 272px;
bottom: 198px;
height:45px;
width:19px;
transform: rotate(177deg);
opacity: 100%;
}

.my-phone{
position: static;
}

.phone{
position: relative;
right: 220px;
bottom: 133px;
height:93px;
width:25px;
transform: rotate(67deg);
opacity: 100%;
border-radius: 73% 27% 80% 20% / 35% 66% 34% 65%  
}

.my-skateboard{
position: static;
}

.skateboard{
position: relative;
left: 180px;
bottom: 367px;
width: 45px;
height: 10px;
transform: rotate(.5deg);
opacity:100%;
border-radius: 13% 100% 23% 90% / 11% 91% 10% 80% 
}

.my-pencil{
position: static;
}

.pencil{
position: relative;
right: 289px;
bottom: 238px;
width: 25px;
transform: rotate(116deg);
opacity: 100%;
border-radius: 13% 100% 23% 90% / 11% 91% 10% 80% 
}

.my-highlighter{
position: static;
}

.highlighter{
position: relative;
width: 24px;
height: 13px;
left: 86px;
bottom: 365px;
transform: rotate(86deg);
opacity: 100%;
}

.my-lamp{
position: static;
}


 .lamp{
position: relative;
left: 200px;
bottom: 609px;
width: 100px;
height: 100px;
border-radius: 27% 73% 28% 72% / 74% 31% 69% 26% ;
transform: rotate(255deg);
opacity: 100%;
} 

.my-sharpener{
position: static;
}

.sharpener{
position: relative;
right: 248px;
bottom: 530px;
width: 27px;
height: 50px;
transform: rotate(177deg);
opacity: 100%;
}

.my-ticket{
position: static;
}

.ticket{
position: relative;
left: 143px;
bottom: 568px;
width: 24px;
height: 21px;
transform: rotate(119deg);
opacity: 100%;
border-radius:61% 45% 70% 49% / 0% 100% 0% 99%   ;
}

.my-tooth{
position: static;
}

.tooth{
position: relative;
left: 291.5px;
bottom: 567px;
transform: rotate(10deg);
height: 9.3px;
width: 18px;
opacity: 100%;
}

.my-plant{
position: static;
}


.plant{
position: relative;
left:199.5px;
bottom: 725px;
width: 60px;
height: 60px;
border-radius: 100% 100% 100% 100% / 100% 100% 100% 99%   ;
transform: rotate(255deg);
opacity: 100%;
} */


.eye-spy-bottom-message{
position: relative;
top: 770px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: darkblue;
font-weight: bold;
}

.eye-spy-modal{
position: relative;
top: 25px;
}

.eye-spy{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
max-width: 3000px;
}

.eye-spy-container{

color: darkblue;
background-color: darkgray;
padding-top: 13px;
font-weight: bold;
} 

.directions2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.directions-description2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.images-games{
position: relative;
left: 60px;
top: 15px;
border: 7px solid  darkblue;
}

.game-border{
border: 7px solid  darkblue;
width: 413px;
border-radius: 25%;
}

.game-cards{
margin-left: auto;
    margin-right: auto;
}

#game-one{
margin-left: auto;
 
}


#game-two{

    margin-right: auto;

}

.games-title{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.games-cards-descriptions{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}

.games-page-title{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 30px;
color: darkblue;
background-color: darkgray;
width: 450px;
margin-left: auto;
    margin-right: auto;
margin-top: auto;
}



.time {
  font-size: 8rem;
  margin-bottom: 1rem;
  color: white;
}

.buttons button {
  padding: 0.8rem 2rem;
  border: none;
  margin-left: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  transform: translate(0);
}

.buttons button:hover {
  transform: translateY(-2px);
}


.start {
  background: #3ed927;
  color: white;
}

.pause {
  background: #e4e446;
}

.reset {
  background: #fd7171;
  color: white;
}

